h2 {
  text-align: center;
  color: #1976d2;
  margin-bottom: 24px;
}

.form-group input:disabled,
.form-group select:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

@media (max-width: 500px) {
  form {
    padding: 16px;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
}