<h2>Solicita tu cita aqui!</h2>
<form [formGroup]="appointmentForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="date">Fecha de la cita:</label>
    <input type="date" id="date" formControlName="date" required>
  </div>

  <div class="form-group">
    <label for="time">Hora de la cita:</label>
    <input type="time" id="time" formControlName="time" required>
</div>
    <div class="form-group">
        <label for="doctor">Médico:</label>
        <select id="doctor" formControlName="doctor" required>
        <option value="" disabled selected>Selecciona un médico</option>
          <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.name }}</option>
        </select>
    </div>
    
    <div class="form-group">
  <label for="reason">Tipo de Cita</label>
  <select id="reason" formControlName="reason" required>
    <option value="" disabled selected>Selecciona una opción</option>
    <option *ngFor="let r of reasons" [value]="r.id">{{ r.name }}</option>
  </select>
</div>
    
    <div class="form-group">
  <label for="optionalInfo">Información Adicional</label>
  <textarea id="optionalInfo" formControlName="optionalInfo"></textarea>
</div>
    <button type="submit" [disabled]="appointmentForm.invalid">Solicitar Cita</button>

<div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
