html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #f5f6fa;
  font-family: 'Poppins', sans-serif;
}

.app-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 500px) {
  body {
    padding: 0;
  }
  .app-container {
    padding: 0.5rem;
  }
}